* {
  font-family: Verdana, sans-serif;
}
*{
	/* background-color: blue; */
	margin:0;
	padding:0;
	box-sizing: border-box;
}
ul{
	padding:0;
}

.pic0{
	width:100%;
	height: 100%;
}

.section-1-div-1{
	margin-top: 5px;
	padding-top:5px;
}

@media(min-width: 768px){
  .section-1-div-1{
  margin-top:5%;
	padding-top:5%;
}
}

@media(min-width: 768px){
  .section-1-div-1{
  margin-top:5%;
	padding-top:5%;
}
}

.section-1-div-1 button{
	display:block;
	background-color:black;
	color:white;
	border-radius:5%;
	padding: 10px 20px;
}

@media(max-width: 768px){
  .section-1-div-2{
  padding:0px;
}
}



.section-2-div-1{
	margin-top: 5%;
	padding-top:5%
}


@media(max-width: 768px){
  .section-2-div-1{
  padding:0px;
}
}


.section-2-div-2{
	margin-top: 5%;
	padding-top:5%;
	display:flex;
	flex-direction: column;
	justify-content: space-around;

}

.section-2-div-2-div-3{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
}

.section-2-div-2-div-3 button{
	display:block;
	background-color:black;
	color:white;
	border-radius:5%;
	padding: 10px 15px;
	margin-right:2%;
}

@media(max-width: 768px){
  .section-2-div-2{
  padding:0px;
	padding-left:10px;
}
}

.pic1{
	width:100%;
	/* background-color: aqua;*/
	height: 50vh; 
}
.div-7 h1{
	margin:auto;
	width:20vw;
	font-size:4vw;
}

.avatar {
	vertical-align: middle;
	width: 40%;
	height: 40%;
	border-radius: 50%;
}


.div-7-card{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.div-8{
	background-color:black;
}

.div-8 { color:white;}

.div-8 a{
	text-decoration: none;
	color:white;

}

.div-8 a:hover {
	text-decoration: none;
	color:white;
}

.login-block{
		display: flex;
		flex-direction: column;
		justify-content:flex-start;
		align-items: center;
}
.login-block form{
	width:80%;
}

.signinButton{
	background-color: white;
	size: 50px;
	font-size: 16px;
	padding: 5px 32px;
	width:30%;
}
.login-img{
	width:100%;
}
.card-styles{
	box-shadow:2px 4px 8px 1px #94999c, -2px -4px 8px 1px #94999c;
	border-radius: 1%;
}

.button-style {
	font-size:1.5vw;
	display:block;
	background-color:black;
	color:white;
	border-radius:5%;
	width:15% 
}

@media(max-width: 972px){
  .button-style{
    font-size:17px;
		width:100px;
}
}


ul {
  list-style-type: none;
}
.social-links a{
	display: inline-block;
	height: 40px;
	width: 30px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 0px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: black;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/* @media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
} */
@media(max-width: 574px){
  .footer-col{
    width: 80%;
}
}

.navbar-links a{
	color: black !important;
	margin:0 20px 0px 0;
}

.navbar-hr{
	color:black;
	/* border:none; */
	border-top: 2px solid black;
}

@media(max-width: 673px){
  .navbar-links a{
    margin:0px;
}
}
